<div class="login-container">

  <p-card header="RouteX Login" class="login-card">

    <div class="field">
      <label>Email</label>

      <input
        pInputText
        type="email"
        placeholder="Enter email"
        class="w-full">
    </div>

    <div class="field">
      <label>Password</label>

      <input
        pInputText
        type="password"
        placeholder="Enter password"
        class="w-full">
    </div>

    <p-button
      label="Login"
      icon="pi pi-sign-in"
      styleClass="w-full">
    </p-button>

  </p-card>

</div>