.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
}

.login-card {
  width: 400px;
}

.field {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 8px;
}